<div class="container">
    <div class="row">
        <h1>Search a Hotel</h1>

        <form method="POST" action="https://hhammouri-hotels.herokuapp.com/hotel.php" enctype="multipart/form-data">

            <div class="form-group">
                {#a dropdown list could be creaated from DB #}
                <label for="Destination">Destination City</label>
                <input type="text" name="title" id="title" value="" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="start-date">Start Date</label>
                <input type="text" name="author" id="author" value="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="end-date">End Date</label>

                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>
            </div>

            <div class="form-group">
                {#a dropdown list could be creaated from DB #}
                <label for="Destination">Length of Stay</label>
                <input type="text" name="title" id="title" value="" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="stay-length">Rate</label>
                <select class="form-control" id="exampleFormControlSelect1">
                        {% for i in 1..5 %}
                            <option>{{ i }} & up</option>
                    {% endfor %}
                </select>
            </div>

            <button id="submit" type="submit" class="btn btn-success">Search</button>
        </form>

    </div>
</div>