<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h4>Search a Hotel</h4>

            <form method="POST" action="https://hhammouri-hotels.herokuapp.com/hotel.php" enctype="multipart/form-data">
                <div class="form-group col-sm-12">
                    <div class="search-widget">
                        <div class="input-group margin-bottom-sm">
                            <textarea class="form-control" cols="12" id="autocomplete_textarea" name="SelectedCountry" rows="1" placeholder="Enter a location" autocomplete="off"></textarea>


                        </div>
                    </div>
                    {#a dropdown list could be creaated from DB #}
                    <label for="Destination">Destination City</label>
                    <select class="form-control bfh-countries" data-country="US"></select>
                    <input type="text" name="title" id="title" value="" class="form-control"/>
                </div>

                <div class="form-group col-sm-6">
                    <label for="start-date">Start Date</label>
                    <input type="date" name="author" id="author" value="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}"
                           class="form-control"/>
                </div>

                <div class="form-group col-sm-6">
                    <label for="end-date">End Date</label>
                    <input type="date" name="author" id="author" value="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}"
                           class="form-control"/>
                </div>

                <div class="form-group col-sm-6">
                    {#a dropdown list could be creaated from DB #}
                    <label for="Destination">Length of Stay</label>
                    <input type="text" name="title" id="title" value="" class="form-control"/>
                </div>

                <div class="form-group col-sm-6">
                    <label for="stay-length">Rate</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        {% for i in 1..5 %}
                            <option>{{ i }} & up</option>
                        {% endfor %}
                    </select>
                </div>

                <button id="submit" type="submit" class="btn btn-success">Search</button>
            </form>

        </div>
    </div>
</div>