<div class="container">
    <div class="row">
        <h1>Hotel deals</h1>

        {% for hotel in offers.Hotel %}
        <div class="row">
            {{ hotel.hotelInfo.hotelName }}
        </div>
        {% endfor %}
    </div>
</div>